@model IEnumerable<Book>
@{
    ViewData["Title"] = "List of Books";
    int count = 1;
}
<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        @if (User.IsInRole("Add-Book"))
        {
            <a asp-action="Create" class="btn btn-primary mb-4">Create</a>
        }
        <div class="table-responsive">
            <table class="table table-bordered dataTable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@book.Title</td>
                            <td>@book.CoverImage</td>
                            <td>
                                @if(User.IsInRole("Edit-Book")){
                                    <a asp-action="Edit" asp-route-Id="@book.Id" class="btn btn-danger">Edit</a>
                                } |
                                @if(User.IsInRole("View-Book")){
                                    <a asp-action="Details" asp-route-Id="@book.Id" class="btn btn-info">Details</a>
                                }|
                                @if(User.IsInRole("Delete-Book")){
                                    <a asp-action="Delete" asp-route-Id="@book.Id" class="btn btn-danger" onclick="confirmDelete(event)">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>